<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/cssadminedit')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
        <div class="articulos">
            <form action="updateprod/<%= producto.id%>" method="POST">
              <article class="articulo">
                <div class="articulo-inputs">
                    <label for="prodName">Nombre de producto</label>
                    <input type="text" name="nombre" id="nombre" value="<%= producto.nombre%>">
                </div>
                <div class="articulo-inputs">
                    <label for="prodName">Descripcion de producto</label>
                    <input type="text" name="descripcion" id="descripcion" value="<%= producto.descripcion%>">
                </div>
                <div class="articulo-inputs">
                    <label for="prodName">Precio de producto</label>
                    <input type="text" name="precio" id="precio" value="<%= producto.precio%>">
                </div>
                <div class="articulo-inputs">                    
                    <label for="prodName">Color de producto</label>
                    <input type="text" name="color" id="color" value="<%= producto.color%>">
                </div>
                <div class="button-articulo">
                    <button type="submit">Editar</button>
                </div>
              </article>
            </form>
          </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>