<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/cssregister')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
        <form class= "formulario" action="/registro" method="POST" enctype="multipart/form-data">
        <div class="register-container">
            <div class="register">
                <p>Registrate</p>
                <div class="register-nombre-apellido">
                    <input type="text" name="register_nombre" id="register_nombre" placeholder="Nombre"
                    value="<%= locals.old && old.register_nombre ? old.register_nombre : ''%>">
                    <input type="text" name="register_apellido" id="register_apellido" placeholder="Apellido"
                    value="<%= locals.old && old.register_apellido ? old.register_apellido : ''%>">
                </div>
                <div class="register-email">
                    <input type="email" name="register_email" id="register_email" placeholder="Email"
                    value="<%= locals.old && old.register_email ? old.register_email: ''%>">
                </div>
                <div class="register-password">
                    <input type="password" name="register_password" id="register_password" placeholder="Contraseña">
                    <input type="password" name="register_rpassword" id="register_rpassword" placeholder="Repetir contraseña">
                </div>
                <label for="user_imagen">Subir imagen</label>
                <div class="user_imagen">
                    <input type="file" name="user_imagen" id="user_imagen" placeholder="Imagen">
                </div>
                <div class = 'errores'>
                    <ul></ul>
                </div>
                <div class="register-button">
                    <button type="submit">Registrarse</button>
                </div>
                <div class="register-login">
                    <p>¿Ya tienes cuenta? <a href="/login">Ingresar</a></p>
                </div>
            </div>
        </div>
    </form>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/register-script.js"></script>
</body>
</html>